{% extends 'base.html.twig' %}
{% block title %}Log in!{% endblock %}
{% block body %}
    <div class="container">
        <div class="col-6 offset-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h1 class="text-center">Connexion à votre compte</h1>
                    <p class="text-center">Ouvrir un compte gratuit</p>
                    <p class="text-center">Créer de meilleures relations entre les propriétaires et les locataires
                        !</p>
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.username }}, <a
                                        href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                   class="form-control" required autofocus placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="inputPassword" class="form-control"
                                   placeholder="Mot de passe" required>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-sign-in"></i>
                            Connexion
                        </button>
                    </form>
                    <hr>
                    <a href="{{ path('app_register') }}">
                        <i class="fa fa-user-plus"></i>
                        Pas de compte ? Cliquez ici.
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}