<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}RELATION{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

{% block body %}

    <div class="container">
        <h1 class="text-center">Local</h1>
        <p class="text-center">Ouvrir un compte gratuit</p>
        <p class="text-center">Créer de meilleures relations entre les propriétaires et les locataires
            !</p>
        <div class="col-6 offset-3">
            <div class="card bg-light">
                <div class="card-body">
                    {{ form_start(registrationForm) }}
                    <div class="card-body">


                    <div class="card-body">
                        {{ form_widget(registrationForm.fistname, { 'attr': {'placeholder': 'Nom'} }) }}
                    </div>

                    <div class="card-body">
                        {{ form_widget(registrationForm.lastname, { 'attr': {'placeholder': 'Prenom'} }) }}
                    </div>
                    <div class="card-body">

                        {{ form_widget(registrationForm.email, { 'attr': {'placeholder': 'Email'} }) }}
                    </div>
                    <div class="card-body">
                        {{ form_widget(registrationForm.plainPassword.first, { 'attr': {'placeholder': 'Mot de passe'} }) }}
                    </div>
                    <div class="card-body">
                        {{ form_widget(registrationForm.plainPassword.second, { 'attr': {'placeholder': ' Confirmation du mot de passe'} }) }}
                    </div>

                        <div class="card-body">

                    {{ form_row(registrationForm.agreeTerms) }}
                        </div>

                    <button class="btn btn-outline-primary btn-sm btn-block">Inscription</button>
                    {{ form_end(registrationForm) }}


                    <div class="card-body">
                        <a href="{{ path('app_login') }}"><i class="fab fa-battle-net fa-1x"></i>
                            Deja un compte ? Cliquez-ici</a>
                    </div>
                </div>


            </div>
        </div>

    </div>
    <div class="card-body">
    <footer class="page-footer">
        <div class="card-body text-center">

            <p>En vous inscrivant, vous reconnaissez avoir lu et
                accepté les <a
                        href="{{ path('contact') }}">Condition d'utilisation</a> et la
                <a
                        href="{{ path('contact') }}">Politique de confidentialité.</a></p>
        </div>

        <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
            <a class="dark-grey-text" href="">Relation.fr</a>
        </div>
    </footer>

    </div>


{% endblock %}