<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Local{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

{% block body %}

<div class="container">
    <div class="col-6 offset-3">
        <div class="card bg-light">
            <div class="card-body">

                <li class="nav-item {% if mainNavHome is defined %}active{% endif %}">
                    <a class="nav-link" href="{{ path('app_logout') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
    <h1>Logement</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Adresse</th>
                <th>Surface</th>
                <th>Piece</th>
                <th>Date d'entrer</th>
                <th>Date de sortie</th>
                <th>Propriétaire</th>
                <th>Loyer</th>
{#                <th>actions</th>#}
            </tr>
        </thead>
        <tbody>
        {% for housing in housings %}
            <tr>
                <td>{{ housing.adress }}</td>
                <td>{{ housing.surface }}</td>
                <td>{{ housing.piece }}</td>
                <td>{{ housing.dateEnter ? housing.dateEnter|date('Y-m-d') : '' }}</td>
                <td>{{ housing.dateExit ? housing.dateExit|date('Y-m-d') : '' }}</td>
                <td>{{ housing.owner }}</td>
                <td>{{ housing.rent }}</td>
                <td>
                    {#<a href="{{ path('housing_show', {'id': housing.id}) }}">show</a>
                    <a href="{{ path('housing_edit', {'id': housing.id}) }}">edit</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('housing_new') }}">Create new</a>
{% endblock %}
