

{% block title %}Housing{% endblock %}

{% block body %}
    <h1>Housing</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ housing.id }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ housing.adress }}</td>
            </tr>
            <tr>
                <th>Surface</th>
                <td>{{ housing.surface }}</td>
            </tr>
            <tr>
                <th>Piece</th>
                <td>{{ housing.piece }}</td>
            </tr>
            <tr>
                <th>DateEnter</th>
                <td>{{ housing.dateEnter ? housing.dateEnter|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateExit</th>
                <td>{{ housing.dateExit ? housing.dateExit|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Owner</th>
                <td>{{ housing.owner }}</td>
            </tr>
            <tr>
                <th>Rent</th>
                <td>{{ housing.rent }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('housing_index') }}">back to list</a>

    <a href="{{ path('housing_edit', {'id': housing.id}) }}">edit</a>

    {{ include('housing/_delete_form.html.twig') }}
{% endblock %}
