
<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Local{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('build/favicon.ico') }}?v=2">
</head>

<body id="{% block body_id %}{% endblock %}">

{% block nav %}
    <nav id="main-nav" class="container-fluid navbar navbar-expand-lg navbar-light bg-light border rounded mb-3">
        <ul class="navbar-nav">
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('easyadmin') }}">Tableau de bord</a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('housing_index') }}">Dasbord</a>
                </li>
            {% else %}
                <li class="nav-item {% if mainNavHome is defined %}active{% endif %}">
                    <a class="nav-link" href="{{ path('app_logout') }}">Accueil</a>
                </li>
                <li class="nav-item {% if mainNavHome is defined %}active{% endif %}">
                    <a class="nav-link" href="{{ path('advantage') }}">Avantages</a>
                </li>
                <li class="nav-item {% if mainNavHome is defined %}active{% endif %}">
                    <a class="nav-link" href="{{ path('price') }}">Tarifs</a>
                </li>

                <li class="nav-item {% if mainNavHome is defined %}active{% endif %}">
                    <a class="nav-link" href="{{ path('presentation') }}">Présentation</a>
                </li>
                <li class="nav-item {% if mainNavLogin is defined %}active{% endif %}">
                    <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                </li>
                <li class="nav-item {% if mainNavRegistration is defined %}active{% endif %}">
                    <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block flash %}
    {% for flash_message in app.session.flashbag.get('success') %}
        <div class="container alert alert-success" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('info') %}
        <div class="container alert alert-info" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('warning') %}
        <div class="container alert alert-warning" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('danger') %}
        <div class="container alert alert-danger" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}
{% endblock %}

<div class="container bck1 padded">
    {% block body %}
    {% endblock %}
</div>

<div class="d-flex align-items-end">
    <footer class="page-footer">
      <div class="card-body">
          <p>2019-2020 © Local Tous droits réservés.
          </p>


              <p class="copy m-b-10">
                  <img src=" class="pull-left m-b-10" alt="WWF" width="55">
                  La quittance électronique, c'est pratique, gratuit et vous faites un geste pour l'environnement.
                  Pour éviter d'augmenter la pression sur les forêts, diminuez votre consommation de papier.
                  <a href="https://www.worldwildlife.org/initiatives/forests" onclick="target='_blank';">WWF</a>
              </p>

          </div>


        <div class="span2 pull-right">
            <ul>
                <li><h5>Local</h5></li>
                <li><a href="">Qui nous-sommes?</a></li>
                <li><a href="">Publicité</a></li>

                <li><a href="{{ path('contact') }}">Nous contacter</a></li>
                <li><a href="https://www.facebook.com/rentilacom" target="_blank"><span aria-hidden="true" class="icon-facebook"></span></a>
                    <a href="https://twitter.com/rentila" target="_blank"><span aria-hidden="true" class="icon-twitter"></span></a>
                    <a href="https://instagram.com/rentilagram/" target="_blank"><span aria-hidden="true" class="icon-instagram"></span></a>
                    <a href="https://www.linkedin.com/company/rentila" target="_blank"><span aria-hidden="true" class="icon-linkedin2"></span></a>
                </li>
            </ul>
        </div>
        <div class="span2 pull-right">
            <ul>
                <li><h5>CGU</h5></li>
                <li><a href="">Conditions</a></li>
                <li><a href="">Confidentialité</a></li>
            </ul>
        </div>
        <div class="span2 pull-right">
            <ul>
                <li><h5>Aide</h5></li>
                <li><a href="">Centre d'aide</a></li>
                <li><a href="">FAQ</a></li>
            </ul>
        </div>


</footer>

</div>


{% block javascripts %}{% endblock %}
</body>
</html>